.App {
  text-align: center;
}

.App-Baby-Carrot-logo {
  height: 10vmin;
  pointer-events: none;
}

.Baby-Carrot-logo {
  width: 300px;
  height: auto;
}

/* For mobile screens */
@media screen and (max-width: 480px) {
  .Baby-Carrot-logo {
    width: 200px;
    height: auto;
  }
}

.App-header {
  background-color: #eaf1ff;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2vmin);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
